<article>
<h1><%= @mypost[:title] %></h1>
<h2><strong>Author: </strong><%= @mypost[:author] %></h2>
<p><%= @mypost[:body] %></p>
<p><%= link_to("Edit", edit_path(@mypost[:id])) %></p>
<p><%= button_to "Delete Post", { action: "destroy", id: @mypost[:id] },
                        method: :delete, data: { confirm: "Are you sure?" }
    %>
</p>
</article>
<section>
  <h2> Comments </h2>
  <% @comments.each do |comment| %>
    <article>
        <p><%= comment.body %></p>
        <p>  <%= link_to "Edit Comment", edit_comment_path(@mypost.id, comment.id) %>  </p>
    </article>
  <% end %>
  <p>  <%= link_to "+ Add Comment", new_comment_path(@mypost.id) %>  </p>
</section>
